/* body {
  background-color: rgb(210, 214, 231);
  margin: 0;
  padding: 0;
} */
.nav {
  overflow: hidden;
  background-color: rgb(192, 198, 229);
  position: fixed;
  top: 0;
  width: 100%;
}
.nav li {
  float: left;
  list-style-type: none;
  margin-top: auto;
}
.nav li a {
  display: block;
  color: white;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: rgb(170, 179, 224);
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

nav a {
  font-size: 20px;
  float: center;
  text-decoration: none;
}
